@charset "utf-8";
/*Main CSS*/
/***********************************************************************************************/
/*LESS Variables*/
/***********************************************************************************************/
/***********************************************************************************************/
/*LESS Mixins*/
/***********************************************************************************************/
/***********************************************************************************************/
/*CSS Animations*/
/***********************************************************************************************/
/***********************************************************************************************/
/*Global Styles*/
/***********************************************************************************************/
body {
  background-color: #F7E6CA;
  margin: 0;
  padding: 0;
}
div {
  display: block;
}
/***********************************************************************************************/
/*Header*/
/***********************************************************************************************/
header {
  display: block;
  height: 80px;
  width: 100%;
  background-color: #EEECE0;
}
#subHeadContainer {
  padding: 0px 10px 10px 10px;
  background-color: #FFF;
  height: 60px;
  width: 100%;
}
#logo {
  height: 60px;
  width: 60px;
}
#menuNavLeft {
  width: 700px;
}
#menuNavRight {
  width: 300px;
}
/***************************************/
